<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex .p-flex-align-center p-flex-jc-sb">
                <ul>
                    <i class="p-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                        
                    </i>
                    <li>
                        <img src="assets\001-search.png" alt="search icon" />

                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">Home</a></li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Reach</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>