<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile">

                </div>
            </div>
            <div class="col-sm-7 p-rgt-sec">
                <div>
                    <span class="p-tag">Software Engineer</span>
                    <h1 class="mt-4">Hebatullah Sabry</h1>
                    <p class="p-des mt-3 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <a href="#" class="p-readmore">Read More <img src="assets\003-next.png" width="20" class="ml-2"/></a>
                    <div>
                    </div>
                    <h6 class="mt-4 mb-3"> Subscribe to our Newsletter</h6>
                    <form class="form-inline" autocomplete="off">
                        <div class="form-group">
                            <input type="email" id="email" class="form-control d-inline" placeholder="Enter Your Email" autocomplete="off" />
                            <button class="btn btn-warning">Subscribe</button>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</section>